{% extends '::base_hero.html.twig' %}

{% block body %}
<div class="container">

    <ul class="breadcrumb">
        <li>
            <a href="#">Жилая недвижимость</a><span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('admin_flat') }}">Квартиры</a><span class="divider">/</span>
        </li>
        <li class="active">
            Редактировать объект
        </li>
    </ul>
    
    <form action="{{ path('admin_flat_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="well form-horizontal">
        <fieldset>
            {{ form_widget(edit_form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </div>
        </fieldset>
    </form>

</div>
{% endblock %}