{% extends '::base_hero.html.twig' %}
 
{% block body %}
<div class="container">

    <ul class="breadcrumb">
        <li>
            <a href="#">Жилая недвижимость</a><span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('admin_flat') }}">Квартиры</a><span class="divider">/</span>
        </li>
        <li class="active">
            Добавить
        </li>
    </ul>

    <form action="{{ path('admin_flat_create') }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}
    <p>
        <button type="submit">Добавить</button>
    </p>
</form>

</div>
{% endblock %}