{% extends '::base_hero.html.twig' %}
 
{% block body %}
<div class="container">

    <ul class="breadcrumb">
        <li>
            <a href="#">Жилая недвижимость</a><span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('admin_flat') }}">Квартиры</a><span class="divider">/</span>
        </li>
        <li class="active">
            Добавить
        </li>
    </ul>

    <form action="{{ path('admin_flat_create') }}" method="post" {{ form_enctype(form) }} class="well form-horizontal">
        <fieldset>
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </fieldset>
</form>

</div>
{% endblock %}