{% set spb_route = app.request.attributes.get('_route') %}

{% block javascripts %} 
<script>   
    $('.thumb40').popover();
</script>
{% endblock %} 

{% if (spb_route == 'spb_realty' ) %}
    {% set base = '::base.html.twig' %} 
{% else %}
    {% set base = '::base_hero.html.twig' %} 
{% endif %}

{% extends base %}

{% block body %}

    <ul class="breadcrumb">
        <li>
            Жилая недвижимость<span class="divider">/</span>
        </li>
        <li>
            {% block rtype_ru_pl_camel %}Объекты{% endblock %}
        </li>
        <li class="pull-right">
            {% if (spb_route != 'spb_realty' ) %}
                {% block add_link %}#{% endblock %}<span class="divider">|</span>
            {% endif %}
            <a href="#" onClick='$("#searchForm").toggle("slow");' class="pull-right"> Поиск </a>
        </li>
    </ul>
                
{% block search %}{% endblock %}        

{% block rtypeblock %}{% endblock %}

{# display navigation #}
{{ knp_pagination_render(entities) }}
     
{% endblock %}