{% extends '::base_hero.html.twig' %}

{% block body %}

<div class="container">
    <ul class="breadcrumb">
        <li>
            Жилая недвижимость<span class="divider">/</span>
        </li>
        <li class="active">
            <u>{% block rtype_ru_pl_camel %}Объекты{% endblock %}</u><span class="divider">/</span>
        </li>
        <li>
            {% block add_link %}#{% endblock %}
        </li>

    </ul>
{% block rtypeblock %}              

{% endblock %}

{# display navigation #}
{{ entities.render()|raw }}
        
</div>
{% endblock %}