{% extends '::base_hero.html.twig' %}

{% block body %}

<div class="container">
    <ul class="breadcrumb">
        <li>
            Жилая недвижимость<span class="divider">/</span>
        </li>
        <li>
            {% block rtype_ru_pl_camel %}Объекты{% endblock %}
        </li>
        <li class="pull-right">
            {% block add_link %}#{% endblock %}<span class="divider">|</span>
            <a href="#" onClick='$("#searchForm").toggle("slow");' class="pull-right"> Поиск </a>
        </li>
    </ul>
                

{% block search %}{% endblock %}        

{% block rtypeblock %}{% endblock %}

{# display navigation #}
{{ entities.render()|raw }}
        
</div>
{% endblock %}