{% extends '::base.html.twig' %}

{% block body %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path ('spb_home')}}">РосРеал</a><span class="divider">/</span>
    </li>
    <li>
        Вакансии
    </li>
</ul>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Менеджер отдела аренды жилой недвижимости
        </a>
        </div>
        <div style="height: auto;" id="collapseOne" class="accordion-body in collapse">
        <div class="accordion-inner">
          <dl>
            <dt>Требования</dt>
            <dd>Опыт успешной риэлтерской деятельности, высшее образование, навыки управления коллективом, лидерские качества. Основные обязанности: организация работы группы в полном объеме, контроль исполнения сделок.
            <dt>Условия</dt>
            <dd>Мы предлагаем Вам работу в стабильной компании по недвижимости, конкурентоспособный уровень оплаты труда, возможность карьерного роста. Менеджерам с группами – особые условия.</dd>
            <dt>Контактное лицо</dt>
            <dd>Алексей: +7(921)913-1-913</dd>
          </dl>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Менеджер отдела купли-продажи жилой недвижимости
        </a>
        </div>
        <div style="height: 0px;" id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <dl>
            <dt>Требования</dt>
            <dd>Опыт успешной риэлтерской деятельности, высшее образование, навыки управления коллективом, лидерские качества. Основные обязанности: организация работы группы в полном объеме, контроль исполнения сделок.</dd>
            <dt>Условия</dt>
            <dd>Мы предлагаем Вам работу в стабильной компании по недвижимости, конкурентоспособный уровень оплаты труда, возможность карьерного роста. Менеджерам с группами – особые условия.</dd>
            <dt>Контактное лицо</dt>
            <dd>Алексей: +7(921)913-1-913</dd>
          </dl>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            Специалист отдела жилой недвижимости (риэлтер)
        </a>
        </div>
        <div style="height: 0px;" id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
          <dl>
            <dt>Требования</dt>
            <dd>Умение вести телефонные переговоры, умение выстраивать этапы развития отношений с клиентом, умение видеть в любой кризисной ситуации обоюдную выгоду и позитив, высокий культурный уровень, грамотная речь.
                Приветствуется опыт продаж и опыт работы с документами.
            </dd>
            <dt>Обязанности</dt>
            <dd>Деловые переговоры лично и по телефону, формирование у клиента интереса к работе с агентством в Вашем лице. Работа по договорам об оказании услуг агентством.
                Консультации по оценке недвижимости, об обязанностях клиента при покупке и продаже недвижимости.
                Подбор объектов для клиентов. Организация показов объектов для продажи и просмотров объектов для покупки.
            </dd>
            <dt>Условия</dt>
            <dd>Работа в сфере жилой недвижимости Санкт-Петебурга. Офис находится около ст.м. «Гостиный двор», «Адмиралтейская», бесплатное обучение, тренинги и семинары, свободный график работы, возможность совмещения, рекламная, информационная и юридическая поддержка, оплата сдельная (высокие проценты).
                Если Вы ищете место для начала Вашего карьерного роста, если Вы готовы учиться в процессе работы у высококлассных специалистов, ждем Вас.
            </dd>
            <dt>Контактное лицо</dt>
            <dd>Олег Юрьевич: +7(812)983-29-31</dd>
          </dl>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
            Менеджер отдела загородной недвижимости
        </a>
        </div>
        <div style="height: 0px;" id="collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
        <dl>
            <dt>Требования</dt>
            <dd>Опыт успешной риэлтерской деятельности, высшее образование, навыки управления коллективом, лидерские качества. Основные обязанности: организация работы группы в полном объеме, контроль исполнения сделок.
            <dt>Условия</dt>
            <dd>Мы предлагаем Вам работу в стабильной компании по недвижимости, конкурентоспособный уровень оплаты труда, возможность карьерного роста. Менеджерам с группами – особые условия.</dd>
            <dt>Контактное лицо</dt>
            <dd>Алексей: +7(921)913-1-913</dd>
          </dl>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
            Специалист отдела загородной недвижимости (риэлтер)
        </a>
        </div>
        <div style="height: 0px;" id="collapseFive" class="accordion-body collapse">
        <div class="accordion-inner">
          <dl>
            <dt>Требования</dt>
            <dd>
                Умение вести телефонные переговоры, умение работать автономно и в коллективе, желание учиться и развиваться, активная жизненная позиция, высокий культурный уровень, грамотная речь, здоровые амбиции. Приветствуется опыт продаж и опыт работы в недвижимости.
            </dd>
            <dt>Обязанности</dt>
            <dd>
                Консультации клиентов компании по вопросам оценки, покупки и продажи недвижимости. Деловые переговоры лично и по телефону. Подбор объектов для клиентов. Показы и просмотры объектов. Сопровождение сделок с недвижимостью.
            </dd>
            <dt>Условия</dt>
            <dd>
                Работа в сфере загородной недвижимости в одном из отделений компании. Офис находится около ст.м. «Гостиный двор», бесплатное обучение, тренинги и семинары, свободный график работы, возможность совмещения, рекламная, информационная и юридическая поддержка, оплата сдельная (высокие проценты). Если Вы ищете место для начала Вашего карьерного роста, если Вы готовы учиться в процессе работы у высококлассных специалистов, ждем Вас. 
            </dd>
            <dt>Контактное лицо</dt>
            <dd>Андрей: +7(921)959-8-959</dd>
          </dl>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
            Менеджер отдела коммерческой недвижимости
        </a>
        </div>
        <div style="height: 0px;" id="collapseSix" class="accordion-body collapse">
        <div class="accordion-inner">
          <dl>
            <dt>Требования</dt>
            <dd>Опыт успешной риэлтерской деятельности, высшее образование, навыки управления коллективом, лидерские качества. Основные обязанности: организация работы группы в полном объеме, контроль исполнения сделок.
            <dt>Условия</dt>
            <dd>Мы предлагаем Вам работу в стабильной компании по недвижимости, конкурентоспособный уровень оплаты труда, возможность карьерного роста. Менеджерам с группами – особые условия.</dd>
            <dt>Контактное лицо</dt>
            <dd>Алексей: +7(921)913-1-913</dd>
          </dl>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
            Специалист отдела коммерческой недвижимости (риэлтер)
        </a>
        </div>
        <div style="height: 0px;" id="collapseSeven" class="accordion-body collapse">
        <div class="accordion-inner">
          <dl>
            <dt>Требования</dt>
            <dd>
                Умение вести телефонные переговоры, умение работать автономно и в коллективе, желание учиться и развиваться, активная жизненная позиция, высокий культурный уровень, грамотная речь, здоровые амбиции. Приветствуется опыт продаж и опыт работы в недвижимости.
            </dd>
            <dt>Обязанности</dt>
            <dd>
                 Консультации клиентов компании по вопросам оценки, покупки и продажи недвижимости. Деловые переговоры лично и по телефону. Подбор объектов для клиентов. Показы и просмотры объектов. Сопровождение сделок с недвижимостью.
            </dd>
            <dt>Условия</dt>
            <dd>
                Работа в сфере коммерческой недвижимости в одном из отделений компании. Офис находится около ст.м. «Гостиный двор», бесплатное обучение, тренинги и семинары, свободный график работы, возможность совмещения, рекламная, информационная и юридическая поддержка, оплата сдельная (высокие проценты). Если Вы ищете место для начала Вашего карьерного роста, если Вы готовы учиться в процессе работы у высококлассных специалистов, ждем Вас.
            </dd>
            <dt>Контактное лицо</dt>
            <dd>Андрей: +7(921)959-8-959</dd>
          </dl>
        </div>
        </div>
    </div>
</div>

{% endblock %}